FinalProject/app/src/main/assets/pointdata_user.csv
MyApplication/gradle.properties
MyApplication/build.gradle
MyApplication/app/src/test/java/com/example/administrator/myapplication/ExampleUnitTest.java
MyApplication/app/src/main/res/values/styles.xml
MyApplication/app/src/main/res/values/strings.xml
MyApplication/app/src/main/res/values/colors.xml
MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher.png
MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher.png
MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-hdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Calculate/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Calculate/app/src/main/res/layout/activity_main.xml
Calculate/app/src/main/res/layout/activity_calculate.xml
Calculate/app/src/main/res/drawable/ic_launcher_background.xml
Calculate/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
Calculate/app/src/main/java/com/example/administrator/calculate/MainActivity.java
Calculate/app/src/main/java/com/example/administrator/calculate/Calculate.java
Calculate/app/src/main/AndroidManifest.xml
Calculate/app/src/androidTest/java/com/example/administrator/calculate/ExampleInstrumentedTest.java
Calculate/app/proguard-rules.pro
Calculate/app/build.gradle
Calculate/app/.gitignore
Calculate/.idea/runConfigurations.xml
Calculate/.idea/modules.xml
Calculate/.idea/misc.xml
Calculate/.idea/gradle.xml
Calculate/.gitignore
MyApplication/settings.gradle
MyApplication/gradlew.bat
MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
MyApplication/app/src/main/res/layout/activity_sub.xml
MyApplication/app/src/main/res/layout/activity_main.xml
Calculate/gradlew.bat
Calculate/gradlew
Calculate/gradle/wrapper/gradle-wrapper.properties
Calculate/gradle/wrapper/gradle-wrapper.jar
Calculate/gradle.properties
Calculate/build.gradle
Calculate/app/src/test/java/com/example/administrator/calculate/ExampleUnitTest.java
Calculate/app/src/main/res/values/styles.xml
Calculate/app/src/main/res/values/strings.xml
Calculate/app/src/main/res/values/colors.xml
Calculate/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Calculate/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
Calculate/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
Calculate/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
Calculate/app/src/main/res/mipmap-mdpi/ic_launcher.png
Calculate/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
MyApplication/gradlew
MyApplication/gradle/wrapper/gradle-wrapper.properties
MyApplication/gradle/wrapper/gradle-wrapper.jar
MyApplication/app/src/main/res/drawable/ic_launcher_background.xml
MyApplication/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
MyApplication/app/src/main/java/com/example/administrator/myapplication/SecondActivity.java
MyApplication/app/src/main/java/com/example/administrator/myapplication/MainActivity.java
MyApplication/app/src/main/AndroidManifest.xml
MyApplication/app/src/androidTest/java/com/example/administrator/myapplication/ExampleInstrumentedTest.java
MyApplication/app/proguard-rules.pro
MyApplication/app/build.gradle
MyApplication/app/.gitignore
MyApplication/.idea/runConfigurations.xml
MyApplication/.idea/modules.xml
MyApplication/.idea/misc.xml
MyApplication/.idea/gradle.xml
MyApplication/.gitignore
Calculate/settings.gradle
